<!DOCTYPE html>
<html lang="es-ar">
<head>
   <title>Feed lot</title>
   <meta charset="iso-8995-1"/>
   <meta name="keywords" content="vacas xd, bovinos, ovejas, llamas, perros, granja"/>
   <meta name="description" content="feed lot , o engorde a corral"/>
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600i,700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../css/css.css"/>
   <link rel="icon" href="../icon/favicon (1).ico" type="image/x-icon"/>
   <!-- <meta name="viewport" content="" -->
</head>
<body>
   <header class="header">
      <h1>FeedLot de Don Turati</h1>
   </header>
   <nav class="menu-container">
      <div class="menu">
         <ul>
            <li><a href="#">inicio</a></li>
            <li><a href="#">corrales</a></li>
            <li><a href="#">comedores</a></li>
            <li><a href="#">bebederos</a></li>
            <li><a href="#">almacenes de comida</a></li>
            <li><a href="#">contacto</a></li>
            <li><a href="#">sesiones</a></li>
         </ul>            
      </div>
   </nav>
   <section class="description">
      <article class="article">
         <h2>
            Titulo
         </h2>
         <p>
            En los últimos 10 años tuvieron que cambiar y adaptarse para crecer.
      Tuvieron que diagramar los corrales, recrear los sistemas, crear caminos elevados, con pendientes hacia el lado contrario al comedero para tener una zona confortable cerca del comedero y para que el animal pudiera transitar libremente. Tambien acercar el bebedero al comedero. En anteriores tiempos se manejaba mal la alimentación ya que simplemente tiraban grandes raciones de comida y el animal no era prolijo para consumir balanceado y los animales terminaban con acidosis y luego el sabor de la carne era criticado con justa razón. Entonces actualmente se los alimenta con cereales y fibra.
         </p>
      </article>
   </section>
   <section class="video-container">
      <div class="video-marco">
         <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/-E1EfVu2MuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>
   <section class="map-container">
      <iframe  class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4017.0245719162203!2d-58.46812907759538!3d-34.66128664232293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc966bf151d67%3A0x255fef772508e89c!2sUniversidad%20Tecnol%C3%B3gica%20Nacional!5e0!3m2!1ses!2sar!4v1584647740531!5m2!1ses!2sar" width="1024" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   </section>
   <section>
      <h2>contactanos</h2>
      <div id="datos">
         
      </div>
   </section>
<script src="../js/soporte.js"></script>
</body>
</html>
